body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #212329;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#menu {
  height: 140px;
  width: 100%;
  background-color: #12151f;
  display: grid;
  grid-template-columns: 12% 15% 20%;
  grid-column-gap: 5%;
}

#colorBox {
  margin-left: 5%;
}

p {
  user-select: none;
}

p.heading {
  color: #ebebeb;
  margin-top: 15px;
  margin-bottom: 12px;
  padding-bottom: 3px;
  border-bottom: 2px solid #e8761a;
}

p.info {
  color: #ffffff;
  padding-bottom: 5px;
}

#colorGrid {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-gap: 8px;
}

input {
  opacity: 0;
  position: fixed;
  width: 0;
}

label {
  background-color: #991a36;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

input[type="radio"]:checked + label {
  border: 2px solid #ffffff;
}

input[type="radio"]:hover + label {
  cursor: pointer;
}

#color1 + label {background-color: #0ca647}
#color2 + label {background-color: #34dbe0}
#color3 + label {background-color: #2e18d6}
#color4 + label {background-color: #de771d}
#color5 + label {background-color: #991a36}
#color6 + label {background-color: #8d28a1}

#count {
  
}

#options {
  
}

#numberNodes {
  margin-left: 10px;
  width: 70px;
  color: #ffffff;
  background-color: #212329;
  border: 2px solid #e8761a;
  border-radius: 10px;
  user-select: none;
}

#numberNodes:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #e8761a;
  cursor: pointer;
}

#showDegree {
  margin-left: 21px;
  width: 70px;
  color: #ffffff;
  background-color: #212329;
  border: 2px solid #e8761a;
  border-radius: 10px;
  user-select: none;
}

#showDegree:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #e8761a;
  cursor: pointer;
}

#canvas {
  background-color: #212329;
  width: 100%;
}
